.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    
}

.image{
    width: 400px;
    box-shadow: 5px 5px 5px lightgrey;
    transition: ease 300ms;
    
}

.imageButton{
    width: 80px;
    margin-top: 20px;
}

